{%extends "base.html"%}
{%block title%}
Logged Out
{%endblock%}
{%block content%}
<div class="row my-4">
    <div class="col-md-6 offset-md-3">
        <div class="border p-3 bg-white">
            <h4>You have logged out</h4>
            <hr>
            <div class="alert alert-info">
                <h1>See you soon!</h1>
            </div>
            <a class="btn btn-outline-info" href="{% url 'home' %}"><i class="fa-solid fa-right-to-bracket"></i> Go Home</a>
            <a class="btn btn-outline-success" href="{% url 'user-login' %}"><i class="fa-solid fa-right-to-bracket"></i> Login</a>

        </div>
    </div>
</div>
{%endblock content%}